<body>

<h1>Student Registration Page</h1>

{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br><br>

    <label>Email:</label>
    <input type="email" name="email"><br><br>

    <label>Password:</label>
    <input type="password" name="password"><br><br>

    <button type="submit">Register</button>
</form>

</body>